@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Roboto:ital,wght@1,100&display=swap');
html,body{
    height: 100%;
    width: 100%;
    font-family: 'ADLaM Display', cursive;
    background-image: url("data1.jpg");
}

.button{
  background-color:rgb(188, 240, 236);
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid rgb(14, 3, 88);
  border-radius: 9px;
  cursor: pointer;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.row{
    margin: 8px 0 ;
}

.row-input
{
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 3px solid rgb(1, 4, 61);
    border-radius: 5px;
}